* {
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #0084fd;
    width: 100%;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    font-family: sans-serif;
}

.nav{
    display: flex;
}

.link{
    margin-right: 1rem;
}

.link a{
    text-decoration: none;
    color: white;
}

.get-started{
    width: 10%;
    text-decoration: none;
    border-radius: 20px;
    background-color: white;
    padding: 5px 10px;
}

/* Inizio demo application */
.container-demo{
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.container{
   width: 70%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-family: sans-serif;
   padding-top: 30px;
}

.box{ 
    background-color: #b5ddff;  
    margin: 1rem; 
    width: calc(90% / 3);
    border-radius: 20px;
}

.large{
    width: 63.5%;
}

.columns{
    display: flex;
}

.box h2{
    color: #0084fd;
    margin: 1rem;
}

.box p{
    color: #5a6e7f;
    margin: 1rem;
}

.box a{
    border-radius: 20px;
    padding: 5px 40px;
    background-color:#0084fd ;
    text-decoration: none;
    color: white;
    margin: 1rem;
}

.box img{
    width: 100%;
}

.box .col-right{
    width: 50%;
    padding: 2rem;
    padding-bottom: 0;
}

.box .col-left{
    width: 50%;
    padding-left: 1rem;
    margin-top: 2rem;
}

.flex-start{
    align-self:flex-start;
}

.box-container i{
    font-size: 3rem;
    color: #0084fd;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
/* Fine demo application */

/* Inizio planning */

.planning{
    background-color: #9792e4;
    margin-top: 40px;
}

.planning-container{
    width: 60%;
    margin:auto;
    padding: 2rem;
}

.col-left img{
    width: 100%;
    padding: 2rem;
    margin-bottom: 60px;
}

.planning-container .columns{
    align-items: flex-end;
}

.planning-container .col-left{
    width: 50%;
    padding: 30px;
}

.col-left h2 , .col-left p{
   color: white;
   font-family: sans-serif;
   padding: 20px;
   line-height: 20px;
}

.planning-container .col-right{
    width: 50%;
    background-color: white;
    border-radius: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}


.col-right img{
    width: 70%;
}

.col-right i{
    background-color: #9792e4;
    border-radius: 30px;
    padding: 1rem;
}

.col-right, h3, p{
    padding: 1rem;
}

.col-right p{
    font-style: oblique;
}

/* Fine planning */

